{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin-top: 2%;
        gap: 1px;
    }
    .shoe_img {
        width: 300px;
        height: 165px;
        margin-bottom: 10px;
        object-fit: cover;
    }
    .mirror {
        transform: scaleX(-1);
        width: 300px;
        height: 165px;
        margin-bottom: 10px;
        object-fit: cover;
    }
    .text_style {
        color: black;
        overflow: hidden;
        font-family: Arial;
    }
    .shoe_info {
        margin-top: 10px;
        margin-left: 10px;
        width: 300px;
        height: 330px;
        padding: 20px;
        margin-right: 10px;
        border: 1px solid transparent;
        border-radius: 8%;
        transition: border-color 0.1s;
    }
    .shoe_info:hover {
        border-color: gray;
    
    }
    .sizeer {
        transform: scaleX(-1);
        background-color: transparent;
        opacity: 50%;
        width: 300px;
        margin-top: -125px;
        opacity: 1;
        overflow: hidden;
        object-fit: cover;
        clip-path: inset(130px 0 0 0);
    }
    .overlay-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        display: none; 
    }
    #rendezes {
            transition: ease;
            position: absolute;
            left:78%;
            top: 24%;
            bottom: auto;
            height: auto;
            width: 15%;
            z-index: 800;
            background-color: rgb(3, 71, 53);
            padding: 20px;
            display: none;
            border: 1px solid #ddd;
            box-shadow: 8px 12px 12px rgba(33, 32, 32, 0.1);

            border-radius: 30px;
    }
    #szin {
            transition: ease;
            position: absolute;
            left:82%;
            top: 24%;
            bottom: auto;
            height: auto;
            width: auto;
            z-index: 899;
            background-color: rgb(3, 71, 53);
            padding: 20px;
            display: none;
            border: 1px solid #ddd;
            box-shadow: 8px 12px 12px rgba(33, 32, 32, 0.1);
            grid-template-columns: repeat(2, 1fr);
            border-radius: 30px;
    }
    .rendezesstilo {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 80%;
        margin-top: 8%;
        margin-right: 10%;
        gap: 2px;
    }
    .kör {
        border-radius: 100%;
        border-color: black;
        border-width: 1px;
        background-color: white;
        height: 25px;
        width: 25px;
        display: grid;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: background-color 0.3s;
    }
    .h2 {
        font-family: helvetica;
        cursor: pointer;
        text-decoration: none;
        color: white;
        display: flex;
    }
    .h2::after {
            content: '';
            margin-top: 2%;
            position: absolute;
            margin-left: 80%;
            margin-right: 12%;
            width: 0;
            height: 2px;
            left: 0;
            background-color: black;
            visibility: hidden;
            transition: all 0.2s ease-in-out;
        }
    .h2:hover::after {
        visibility: visible;
        width: 9%;
    }
    .rendezesstilo:hover .kör{
        background-color: rgb(177, 176, 176);
    }
    

    .szinek{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
    }
    .notfound{
        margin-left: 27%;
        margin-top: 10%;
        border-color: rgb(0,106,78);
        border-width: 5px;
        margin-bottom: 22%;
    }
    .talalat{
        color: rgb(3, 71, 53);
        font-size: 350%;
        font-family: Arial;
        margin-left: 10%;
    }
    .h3 {
        font-family: helvetica;
        cursor: pointer;
        text-decoration: none;
        color: white;
        display: flex;
    }
    .h3::after {
            content: '';
            margin-top: 15%;
            position: absolute;
            margin-left: 7%;
            margin-right: 5%;
            width: 0;
            height: 2px;
            left: 0;
            background-color: white;
            visibility: hidden;
            transition: all 0.2s ease-in-out;
        }
    .h3:hover::after {
        visibility: visible;
        width: 75%;
    }


</style>
{% if not shoes %}
<div class="notfound">
    <h1 class="talalat">NINCS TALÁLAT</h1>
    <h2 style="margin-left: 8%;">Ellenőrízd a szöveget vagy probálj más keresést.</h2>
</div>

{% else %}
<div class="rendezesstilo">
    <h2 class="h2" style="color: black;" onclick="openrendezes()">Rendezes</h2>
    <button class="kör" onclick="openrendezes()">
        <svg width="15" height="15" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 9l6 6 6-6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
</div>
{% endif %}

<div id="rendezes">
    <div>
        <a method="GET" href="{% url 'sneakerek' %}?q={{ request.GET.q }}&r=legalacsonyabb" class="h3"><h3  >Legalacsonyabb ár</h3></a>
    </div>
    <div>
        <a method="GET" href="{% url 'sneakerek' %}?q={{ request.GET.q }}&r=legmagasabb" class="h3"><h3  >Legmagasabb ár</h3></a>
    </div>
    
    <div>
        <a  onclick="openszin()" class="h3"><h3 >Szín Szerint</h3></a>
    </div>
    <div>
        <a method="GET" href="{% url 'sneakerek' %}?q={{ request.GET.q }}&r=Leárazás" class="h3"><h3 >Leárazás</h3></a>
    </div>
    <div>
        <a method="GET" href="{% url 'sneakerek' %}?q={{ request.GET.q }}&r=random" class="h3"><h3 >Random</h3></a>
    </div>
</div>
<div id="szin">
    <div style="margin-left: 30%;">
        <button class="x_design" onclick="closeszin('{{ csoport }}')">
            <svg class="X" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                <line x1="15" y1="6" x2="9" y2="12"></line>
                <line x1="9" y1="12" x2="15" y2="18"></line>
            </svg>
        </button>
    </div>
    <div class="szinek">
        {% for szin in szinek %}
            <div> 
                <a method="GET" href="{% url 'sneakerek' %}?q={{ request.GET.q }}&r={{szin}}" style="text-decoration: none; color: white; font-family: Helvetica;"><h3>{{szin}}</h3></a>
            </div>
        {% endfor %}
    </div>
</div>
<div class="home-container">
    {% for cipő in shoes %}
    <div class="shoe_info">
        {% if shoes|length > 10 %}
        <a class="no-link-style" href="{% url 'home' %}?q={{cipő.name}}">
        {% else %}
        
        <a class="no-link-style" href="{% url 'room' cipő.id %}">
        {% endif %}
        
            {% if cipő.cég == 'Foot Locker' %}
                <img class="mirror" src="{{ cipő.image }}">
            {% elif cipő.cég == 'sizeer' %}
                <img class="sizeer" src="{{cipő.image}}">
            {% else %}
                <img class="shoe_img" src="{{ cipő.image }}">
            {% endif %}
            <div class="text_style">
                <h3>{{ cipő.name }}</h3>
                <h3 style="color: gray;">
                    {% if cipő.akcios_ár != "0" %}
                    <span style="text-decoration: line-through;">{{cipő.akcios_ár}} Ft </span> 
                    &nbsp;&nbsp;&nbsp;
                    {% endif %}
                    {{cipő.price }} Ft-tól
                </h3>
                <h2 class="no-link-style" style="color: rgb(3, 71, 53);">{{ cipő.cég }}</h2>
            </div>  
        </a>
    </div>
    {% endfor %}
</div>

<script>
    function openrendezes() {
        var searchBar = document.getElementById("rendezes");
        if (rendezes.style.display === "block") {
            rendezes.style.display = "none";
        } else {
            rendezes.style.display = "block";
        }
    }
    function openszin() {
        document.getElementById("szin").style.display = "block";
        document.getElementById("rendezes").style.display = "none";
    }
    function closeszin() {
        document.getElementById("szin").style.display = "none";
        document.getElementById("rendezes").style.display = "block";
    }
</script>
{% endblock %}
